*.css linguist-vendored
*.svg linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.html linguist-vendored
frontend/** linguist-vendored
docs/** linguist-documentation
content/** linguist-documentation
